[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DataClean"]
	path = DataClean
	url = https://github.com/xiaoruizhu/dataclean
[submodule "PAsso"]
	path = PAsso
	url = https://github.com/xiaoruizhu/passo
[submodule "SPSP"]
	path = SPSP
	url = https://github.com/xiaoruizhu/spsp
[submodule "SurrogateRsq"]
	path = SurrogateRsq
	url = https://github.com/xiaoruizhu/surrogatersq
